@model ForumPost
@{
    ViewData["TITLE"] = "Forum Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">King of Horror</h1>
</div>

<h1 class="text-center"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Forum">King Forum</a></h1>
<br />

<div class="container">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="row">
            <label class="control-label col-sm-3 ml-5 pb-3" asp-for="Topic">Topic </label><br />
            <input class="form-control col-sm-6 pb-3" asp-for="Topic" placeholder="Topic" /><br />
        </div>

        <div class="row">
            <label class="control-label col-sm-3 ml-5 pb-3" asp-for="Comments">Reply</label><br />
            <input class="form-control col-sm-6 pb-3" asp-for="Comments" placeholder="Write comments..." /><br />
        </div>

        <div class="row justify-content-center ml-5">
            <button class="btn btn-danger p-2" type="submit" value="submit">Submit</button>
        </div>
    </form>
</div>
