@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">King of Horror</h1>
</div>
<br />

@if (User.Identity.IsAuthenticated)
{
     <audio autoplay="autoplay" src="~/sound/johnny.wav" preload="auto"></audio>
}

<div>
    <img src="~/images/StephenKingAdaptations_Getty_NewLineCinema_GreenEpsteinProductions_Ringer.0.jpg" />
</div>

