@model List<Scores>
@{
    ViewData["Title"] = "Scores Page";
}
<div class="text-center">
    <h1 class="display-4 font-weight-bold">King of Horror</h1>
</div>

<h2 class="text-center">Scores</h2>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr><th>Username</th><th>Score</th><th>Ranking</th><th>Date</th></tr>
    </thead>
    <tbody>
        </tbody>
    </table>

